:host {
  display: flex;
  flex: 1;
  max-width: 100%;
  min-height: 50px;
  margin-bottom: 24px;

  /** Expanded state */
  &.expanded {
    min-width: 891px;
    max-width: 944px;
  }

  /** Adjust border styles when no bar is true or sticky content is true */
  .panel-card-container {
    flex: 1;
    flex-direction: row;
    width: 100%;

    &.no-bar {
      .tab-group-container {
        > ::ng-deep {
          .mat-tab-body-wrapper {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          .mat-tab-header {
            display: none;
          }
        }
      }
    }

    &.sticky-content {
      display: flex;
      flex-direction: column;

      ::ng-deep {
        .mat-tab-body-wrapper {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  /** Material tabs to appear as fabs */
  .tab-group-container {
    flex: 1;
    flex-direction: row;

    > ::ng-deep {
      .mat-tab-header {
        flex-direction: column;
        width: 60px;
        padding: 15px 0;

        background-color: #2e4465;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        .mat-tab-list {
          .mat-tab-labels {
            flex-direction: column;

            .mat-tab-label {
              width: 100%;
              min-width: unset;
              height: 45px;
              padding: 0;

              background-color: transparent;
              opacity: 1;

              .mat-tab-label-content {
                width: 100%;

                .fab-container,
                button ual-orion-icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  padding: 5px 0 5px 5px;

                  cursor: pointer;

                  button {
                    color: #fff;

                    background-color: #00b2a9;
                    box-shadow: none;
                  }
                }
              }

              button {
                width: 35px;
                height: 35px;

                line-height: unset;

                &::ng-deep .mat-button-wrapper {
                  padding: 0;

                  line-height: unset;
                }

                ual-orion-icon mat-icon {
                  color: #fff;
                }
              }
            }
          }

          .mat-ink-bar {
            top: 5px;
            bottom: unset !important;
            left: 0 !important;

            width: 4px !important;
            height: 35px !important;

            background-color: #69b3e7;
          }
        }
      }

      .mat-tab-body-wrapper {
        flex: 1;
        height: auto !important;

        background: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    color: #000;

    background-color: #fff;

    &:not(.closed) {
      min-width: 315px;
    }

    &.sticky {
      margin: 0 0 0 61px;

      border-bottom-right-radius: 4px;

      > .panel-content {
        background: #f5f5f5;
      }

      > .panel-heading .section {
        justify-content: flex-end;
      }
    }

    /** Trims -- Deprecated */
    &.gold {
      border-top-color: #f8d21c;
    }

    &.light-blue {
      border-top-color: #50e3c2;
    }

    &.purple {
      border-top-color: #e45eff;
    }

    &.blue {
      border-top-color: #4285f4;
    }

    /** Closed state */
    &.closed {
      width: 73px;

      ::ng-deep {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 20px 0;

        border-radius: 2px;
        cursor: pointer;

        .closed-title {
          margin: 0 0 5px;

          font-size: x-small;
          color: #273987;
        }

        ual-orion-icon mat-icon {
          width: 36px;
          height: 36px;

          font-size: 36px;
          color: #a3a3a3;
        }
      }
    }

    ::ng-deep {
      /** Header styles -- title & buttons */
      .panel-heading {
        float: 1;

        font-weight: 200;
        font-size: 24px;
        color: #333;

        .header-title {
          width: 85%;
          // overflow: hidden;

          font-family: "openSansLight";
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 54px;
          padding: 0 10px 0 16px;

          border-bottom: 1px solid #ccc;
        }

        button,
        .button-group,
        .mat-button-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        ual-orion-icon mat-icon {
          width: 31px;
          height: 31px;

          font-size: 31px;
          color: #9b9b9b;

          cursor: pointer;
        }
      }

      /** Content styles */
      .panel-content {
        display: flex;
        flex: 1;
        width: 100%;

        [content] {
          width: 100%;
          min-height: 100%;
        }

        mat-tab-group {
          .mat-tab-body-wrapper {
            min-height: min-content; /* breaks dynamic height animation but fixes scroll jump on tab switch **/
          }
        }

        .section {
          width: 100%;
          padding: 10px 15px;

          &:not(:last-of-type) {
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}

::ng-deep {
  .ual-card-menu .mat-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}