<mat-expansion-panel #matExpansionPanel [ngClass]="{ 'caret-click': openOnCaretClick, 'inverse-header': inverseHeader }"
  tabindex="{{tabIndex}}" [disabled]="disabled" [hideToggle]="hideToggle" [(expanded)]="expanded"
  (afterCollapse)="handleAfterCollapse()" (afterExpand)="handleAfterExpand()" (opened)="handleOpened()"
  (closed)="handleClosed()">

  <mat-expansion-panel-header #panelHeader [collapsedHeight]="collapsedHeight" [expandedHeight]="expandedHeight"
    (click)="togglePanel(panelHeader, $event)">

    <mat-panel-title (click)="togglePanelFromTitle(panelHeader, $event)">
      <ng-content select="[title]">
      </ng-content>
    </mat-panel-title>

    <mat-panel-description>
      <ng-content select="[description]"></ng-content>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <ng-content></ng-content>
  </ng-template>
</mat-expansion-panel>