<div class="profile" *ngIf="userData">
  <mat-tab-group color="accent">
    <mat-tab label="Bio">
      <mat-card class="contact-card ">
        <mat-card-header>
          <img mat-card-avatar [src]="'assets/orion/icons/' + userData.avatar">
          <mat-card-title>{{userData.firstName}} {{userData.lastName}}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{userData.designation}}</mat-card-subtitle>
        </mat-card-header>
        <div class="card-image-content-container">
          <img mat-card-image [src]="'assets/orion/icons/' + userData.avatar" alt="Photo of a Shiba Inu"
            class="mat-card-image">
          <div class="card-image-content">
            <p>Birth Date : {{userData.birthDate}}</p>
            <p>Trivia : {{userData.trivia}}
              Mauris et sapien euismod, blandit arcu aliquet, aliquam sem. Donec quis aliquam sapien. Aenean ut lorem in justo ultricies tincidunt. Ut lacus massa, pretium sed libero sit amet, ultrices dapibus augue. Aenean sit amet nisi arcu. Sed pharetra facilisis porttitor. Aenean vehicula odio quis aliquet sodales. Sed suscipit scelerisque condimentum. Proin lectus felis, suscipit vel urna convallis, accumsan fringilla massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut quam eget neque blandit fringilla. Donec eu ligula et libero rutrum elementum.
            </p>
          </div>
        </div>
        <mat-card-content>
          <p>
            {{userData.bio}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">LIKE</button>
          <button mat-raised-button color="accent">EDIT</button>
          <button mat-raised-button style="background-color: #ffcf44;">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="SocialMediaContact">
      <div class="tabcontent">
        <div class="socialIdentity">
          <div class="socialIdentityItem">
            <img [src]="'assets/orion/icons/GooglePlus.svg'">
            <div class="emaillist">
              <p *ngFor="let email of userData.contactInfo.emails">
                {{email}}</p>

            </div>
          </div>
          <div class="socialIdentityItem odd">
            <img [src]="'assets/orion/icons/Facebook.svg'">
            <p>{{userData.contactInfo.facebookId}}</p>
          </div>
          <div class="socialIdentityItem odd">
            <img [src]="'assets/orion/icons/Linkedin.svg'">
            <p>{{userData.contactInfo.linkedInId}}</p>
          </div>
          <div class="socialIdentityItem">
            <img [src]="'assets/orion/icons/Twitter.svg'">
            <p>{{userData.contactInfo.twitterId}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="SnailContact">
      <div class="tabcontent">
        <div class="addressRow">
          <div class="addressCard">
            <div class="addressCardHeader">
              <h1>Home</h1>
            </div>
            <div class="addressCardBody">
              <p>
                {{userData.contactInfo.homeAddressLines}}
              </p>
            </div>
          </div>
          <div class="addressCard">
            <div class="addressCardHeader">
              <h1>Office</h1>
            </div>
            <div class="addressCardBody">
              <p>
                {{userData.contactInfo.officeAddressLines}}
              </p>

            </div>
          </div>
          <div class="addressCard">
            <div class="addressCardHeader">
              <h1>Phone</h1>
            </div>
            <div class="addressCardBody">
              <div *ngFor="let phoneNo of userData.contactInfo.phoneNumbers">
                <p>{{phoneNo.type}}
                  <span style="font-size:small;"> ({{phoneNo.countryAccessCode}}) - {{phoneNo.number }}
                  </span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>