<mat-toolbar class="mainheader">
  <mat-toolbar-row>
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contact Management</span>
    <span class="header-spacer"></span>
    <!-- <mat-icon class="header-icon">favorite</mat-icon> -->
    <!-- <mat-icon class="header-icon">delete</mat-icon> -->
    <button mat-button [matMenuTriggerFor]="belowMenu" class="subMenu">Contacts
      <mat-icon role="img" class="mat-icon" aria-hidden="true">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item [routerLink]="['/user-contact-list']" class="subMenu">All Contacts</button>
      <button mat-menu-item [routerLink]="['/user2-contact-list']" class="subMenu">Item2</button>
    </mat-menu>
    <a class="navigation-item" mat-list-item [routerLink]="['/my-data']">
      <mat-icon class="icon-white">person</mat-icon>
    </a>
    <!-- <button [matMenuTriggerFor]="menu" mat-button class="subMenu">
      Profile
      <mat-icon role="img" class="mat-icon" aria-hidden="true">arrow_drop_down</mat-icon>
    </button> -->
    <mat-menu #menu="matMenu">
      <div class="profile-menu">
        <div class="pro-header">
          John Doe
        </div>
        <div class="prop-body">
          <ul><a>
              <li>Profile</li>
            </a>
            <a>
              <li>My Messages</li>
            </a>
            <a>
              <li>Lock</li>
            </a>
          </ul>
        </div>

      </div>
    </mat-menu>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item class="subMenu">Settings</button>
      <button mat-menu-item class="subMenu">Help</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>