:host {
   position: relative;
   width: 100%;
   
#mainheader {
  background-color: #2A9FBC;
}

/*Top Menu*/

nav {
  height: 60px;
  width: 80%;
  margin: 0 auto 20px;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  
  //justify-content: space-around;
  //align-content: flex-end;
  //flex-direction: row-reverse;
}

nav>ul>li:nth-child(1){
  //flex-grow: 1;
}

nav>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}
 }