:host {
   position: relative;
   width: 100%;
   
.mainheader {
  background-color: #535463;
  color:white;
  font-size: 30px;;

  height: 30px;
}
.subMenu{
  font-size: 20px;;
}

/*Top Menu*/

nav {
  height: 60px;
  width: 80%;
  margin: 0 auto 20px;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  
  //justify-content: space-around;
  //align-content: flex-end;
  //flex-direction: row-reverse;
}

nav>ul>li:nth-child(1){
  //flex-grow: 1;
}

nav>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}
::ng-deep .mat-menu-panel{
  background: #79748d;
  background-color: #535463!important;
}
.profile-menu{
  background-color: #535463;
}
.mat-menu-content:not(:empty) {
  padding-top: 0px;
}
.profile-menu {
  min-width: 250px;
  padding:0;
  line-height: 1.4;
}
.pro-header {
  background:#4680ff;
  padding: 15px;

}
.pro-body {
  padding:20px 0;
  margin-bottom: 0;
  list-style: none;
}
.icon-white {
  color: white;
 
}
 }