<!-- <div [ngClass]="{'display-toolbox':displaySideNav}">
<div class="toolbox-styling">    
  <div class="toolbox-toggle" (click)="toggleToolboox()">      
    <ual-orion-icon icon="Caret_left" *ngIf="displaySideNav" matSuffix></ual-orion-icon>      
    <ual-orion-icon icon="Caret_left" *ngIf="!displaySideNav" matSuffix></ual-orion-icon>   
  </div>
   <div class="toolbox-body">      
    <div class="table-display">       
      <div class="toolbox-tab">
            side nav     
      </div> 
    </div>
  </div> 
</div>
</div> -->

<!-- <div class="Sidebar">
  <ul class="Sidebar-Icon">
    <li>
      <a href="javascript:void(0)"> <i class="fa fa-home SDIcon" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"> <i class="fa fa-square-o SDIcon" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"> <i class="fa fa-cloud SDIcon" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"> <i class="fa fa-circle-o SDIcon" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)"> <i class="fa fa-heart-o SDIcon" aria-hidden="true"></i></a>
    </li>
  </ul>
</div> -->



