<div *ngIf="moduleLoadingIndicator || pathResolveIndicator" class="module-loading" [class.backdrop]="firstModuleLoaded">
  <div class="logo">
    <span>Loading...</span>

    <ng-container *ngIf="moduleLoadingIndicator">
      <span class="module-name" *ngFor="let module of modulesToLoad; trackBy: moduleTrackBy">
        {{ module }}
      </span>
    </ng-container>

    <ng-container *ngIf="pathResolveIndicator">
      <span class="module-name" *ngFor="let path of pathsToLoad; trackBy: pathTrackBy">
        {{ path }}
      </span>
    </ng-container>
  </div>

  <svg class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>
</div>

<ual-header *ngIf="firstModuleLoaded && showHeader"
  [@fadeInAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
</ual-header>

<div class="content-container" [ngClass]="{ 'header-open': showHeader }">
  <div class="route-container" [@fadeInAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>