<div *ngIf="moduleLoadingIndicator || pathResolveIndicator" class="module-loading" [class.backdrop]="firstModuleLoaded">
  <div class="logo">
    <span>Loading...</span>

    <ng-container *ngIf="moduleLoadingIndicator">
      <span class="module-name" *ngFor="let module of modulesToLoad; trackBy: moduleTrackBy">
        {{ module }}
      </span>
    </ng-container>

    <ng-container *ngIf="pathResolveIndicator">
      <span class="module-name" *ngFor="let path of pathsToLoad; trackBy: pathTrackBy">
        {{ path }}
      </span>
    </ng-container>
  </div>

  <svg class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>
</div>

<!-- <ual-header *ngIf="firstModuleLoaded && showHeader"
  [@fadeInAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
</ual-header>

<div class="content-container" [ngClass]="{ 'header-open': showHeader }">
  <ual-sidenav *ngIf="firstModuleLoaded && showHeader"> </ual-sidenav> 
  <div class="route-container" [@fadeInAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div> -->
<div class="content-container" *ngIf="!showHeader">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<mat-sidenav-container class="app-sidenav-container" *ngIf="firstModuleLoaded && showHeader">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()"
  [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary" style="color:white">
    
    </mat-toolbar>
    <div class="nav-icons">
      <button mat-fab color="primary">
        <mat-icon class="icon-white">info</mat-icon>
      </button>
      <button mat-fab color="accent">
        <mat-icon class="icon-white">favorite</mat-icon>
      </button>
      <button mat-fab color="warn">
        <mat-icon class="icon-white">delete</mat-icon>
      </button>
     
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-sidenav-content content-container">
      <ual-header *ngIf="firstModuleLoaded && showHeader"
           (toggleSidenav)="sidenav.toggle()">
      </ual-header>
      <div class="wrapper route-container">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>