:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #fff;

  .module-loading {
    position: fixed;

    width: 100vw;
    height: 100vh;

    &.backdrop {
      z-index: 5;

      width: 100%;

      background: rgba(0, 0, 0, .6);
    }
  }

  .content-container {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    //margin-top: 20px;;

    &.header-open {
      height: calc(100% - 64px);
    }
  }

  .route-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
