:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  margin-top: 45px;
  padding: 14px 16px;

  color: black;

  background: #fff;
  border-radius: 3px;
}