:host {
  display: flex;
  width: 100%;

  .column-collapsed {
    width: calc(376px + 24px);
    margin-left: 24px;

    ual-card {
      width: 376px;
    }
  }

  .column-expanded {
    flex: 1;
    min-width: calc(600px + 24px);
  }

  .column-collapsed,
  .column-expanded {
    padding-right: 24px;

    /** Accomodate footer height */
    > ::ng-deep :last-child {
      ual-card {
        margin-bottom: 85px;
      }
    }
  }
  .button-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    padding: 0 3px;
    
    button {
      width: 240px;

      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;

      border-radius: 0;
      box-shadow: none;

      &[disabled] {
        color: #666;

        background: #e6e6e6;
        cursor: default;
      }
    }
  }
  ual-footer {
    position: fixed;
    bottom: 0;
    z-index: 3;
  }
}
