:host {
  .userGallery{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    flex-wrap: wrap;
    align-content: flex-start;
    color:black;
}

.userGallery > .userCard:nth-child(1){
  //  flex-basis: 100%;
}

.userCard{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 20%;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
   // box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
   // flex-grow: 2;
    border-radius: 25px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    //width: 40%;
}
.userCard > img {
  vertical-align: middle;
  width: 120px;
  //height: 50px;
  border-radius: 50%;
}
.userCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.userCard h5, .userCard p{
    margin: .2rem 0;
}

.userCard > img{
    align-self: center;
}
.userCard > p {
  justify-content: space-around;
  font-style: italic;
}
.cardRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //align-items: flex-end;
  padding: 2px 16px;
}
.userCard > button {
 // flex-shrink: 3;
 align-self: flex-end;
}
a.button{
  display: inline-block;
  padding: 0.3em 1.2em;
  // margin: 0 0.3em 0.3em 0;
  margin:0 0.1em 0.1em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
a.button:hover {
  background-color:#4095c6;
  //border-color: rgba(255,255,255,1);
  }

.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.toolbar > a.button {
  align-self: baseline;
}
.toolbar > input {
  margin-left: auto;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f1bb4e!important;
  // opacity: 1!important;"
}
::ng-deep .mat-form-field-appearance-outline {
  //color:  #f14e4e!important;
  color:#4ef18f!important;
}
}