:host {
  display: flex;
  width: 100%;
  justify-content: center;
  button {
    color: white;
  }
  .profile {
    width: 80vw;
    //max-width: 1000px;
    //max-width: 1200px;
   //  background-color: grey;
    //align-content: flex-start;
    margin-top: 0.5rem;
  }
 
  .contact-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-image {
    display: flex;
    width: 350px;
    //width: 90%;
    align-self: center;
    border-radius: 30px;
  }
  .tabcontent {
    //width: 1000px;
    width: 100%;
    background-color: white;
    color: black;
  }
   .card-image-content-container{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
    
   }
   .card-image-content {
     margin: 2rem;
     display: flex;
     flex-direction: column;
     flex-shrink: 1;
   }
  ::ng-deep .mat-tab-label-container {
    background-color: #fce786 !important;
    color: white;
  }

  .socialIdentity {
    width: 100%;
    padding-top: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
  }

  .socialIdentityItem {
    display: flex;
    //color: #fafafa;
    font-weight: bold;
   // background-color: #c8e6c9;
   border-top: 5px solid #c8e6c9;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 10px;
    //height: 100px;
    margin-bottom: 2%;
  }
  .socialIdentity > .odd {
    // flex-grow: 1;
    //background-color: #f4eea9;
    border-top: 5px solid #f4eea9;
  }
  .socialIdentityItem > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 2rem;
  }
  .emaillist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .rightspacing {
    margin-right: 2rem;
  }
  .addressRow {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .addressCard {
    width: 40%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }

  .addressCardHeader {
    text-align: center;
    padding: 5px 2px;
    //background: linear-gradient(to right, #ff416c, #ff4b2b);
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    color: #fff;
  }

  .addressCardBody {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }

  .addressCard:hover {
    //transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

}
