<div class="profile" *ngIf="userData">
  <mat-tab-group color="accent">
    <mat-tab label="Bio">
      <mat-card class="contact-card ">
        <mat-card-header>
          <img mat-card-avatar [src]="'assets/orion/icons/' + userData.avatar">
          <mat-card-title>{{userData.firstName}} {{userData.lastName}}</mat-card-title>
          <mat-card-subtitle>{{userData.designation}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'assets/orion/icons/' + userData.avatar" alt="Photo of a Shiba Inu"
          class="mat-card-image">
        <mat-card-content>
          <p>
            {{userData.bio}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">LIKE</button>
          <button mat-raised-button color="accent">EDIT</button>
          <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="SocialMediaContact">
      <div class="tabcontent">
        <div class="socialIdentity">
          <div class="socialIdentityItem">
            <img [src]="'assets/orion/icons/GooglePlus.svg'">
            <div class="emaillist">
              <p *ngFor="let email of userData.contactInfo.emails">
                {{email}}</p>

            </div>
          </div>
          <div class="socialIdentityItem odd">
            <img [src]="'assets/orion/icons/Facebook.svg'">
            <p>{{userData.contactInfo.facebookId}}</p>
          </div>
          <div class="socialIdentityItem odd">
            <img [src]="'assets/orion/icons/Linkedin.svg'">
            <p>{{userData.contactInfo.linkedInId}}</p>
          </div>
          <div class="socialIdentityItem">
            <img [src]="'assets/orion/icons/Twitter.svg'">
            <p>{{userData.contactInfo.twitterId}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="SnailContact">
      <div class="tabcontent">
        <div class="addressContainer">
          <div class="home">
            <h4>Home Address</h4>
            <p>{{userData.contactInfo.homeAddressLines}}</p>
          </div>
          <div class="office">
            <h4>Office Address </h4>
            <p>{{userData.contactInfo.officeAddressLines}}</p>
          </div>
          <div class="phone">
            <h4>Phone Number</h4>
            <div *ngFor="let phoneNo of userData.contactInfo.phoneNumbers">
              <p>{{phoneNo.type}}
                <span style="font-size:small;"> ({{phoneNo.countryAccessCode}}) - {{phoneNo.number }}
                </span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>