:host {
  display: flex;

   color:black;

   .log-in-button{
     color: white;
   }
   .form-container > * {
    width: 100%;
  }
  // .ual-mat-form-field {
  //   margin-top: 5px;

  //   &:not(:last-of-type) {
  //     margin-right: 20px;
  //   }
  // }

  // .log-in-button {
  //   width: 440px;
  //   height: 60px;
  //   margin-top: 16px;

  //   font-size: 18px;

  //   border: 0.5px solid #333;

  //   &:not([disabled]) {
  //     color: #fff !important;
  //   }
  // }

  // .uppercase {
  //   text-transform: uppercase;
  // }

  /* Sets the underline to red if dirty and invalid */
// .mat-form-field.ng-dirty.ng-invalid .mat-form-field-underline {
//   background-color: red;
// }
// /* Sets the label to red if dirty and invalid */
// .mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
//   color: red;
// }
}
