<div class="toolbar">
  <button mat-fab color="warn">
    <mat-icon matTooltip="Add new contact" class="icon-white">add</mat-icon>
  </button>
  <span class="header-spacer"></span>
  <mat-form-field appearance="fill">
    <input matInput type="search" placeholder="search here by name" class="search-input" [(ngModel)]="contactListFilter">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

</div>
<div class="userGallery">
  <div class="userCard"
    *ngFor="let userContact of filteredContactList;let userContactSearchIndex = index;trackBy:trackByIdentify">
    <img [src]="'assets/orion/icons/' + userContact.avatar">
    <div class="cardRow">
      <h5><b>{{userContact.firstName}} {{userContact.lastName}}</b></h5>
      <small>{{userContact.designation}}</small>
    </div>
    <p>{{userContact.trivia}}</p>
    <button mat-fab color="accent" [routerLink]="['/user-contact-list/contact', userContact.id]">
      <mat-icon class="icon-white">info</mat-icon>
    </button>
  </div>

</div>